body{
    justify-content:center;
    justify-self:center;
    background-color:#2c363f;
}
input,.look{
    margin:5px;
}
.look{
    border:1px solid black;
    border-radius:5px;
}
th,td{
    border-bottom: 1px solid black;
}
.purchases th:nth-child(1){
    width:50%;
}
.purchases{
    height:300px;
    border:1px solid black;
    margin:2px;
    border-radius:8px;
    overflow:auto;
}
.purchases table,.toPay table{
    width:100%;
}
.toPay{
    margin:2px;
}
.allButtons{
    margin:5px;
    justify-self:right;
}
.firstButtons{
    border-radius:3px;
    background-color:#cf6b83;
    margin:2px;
    border:none;
    padding:3px 8px 3px 8px;
}
.payButtons{
    color:#dcd1cc;
    font-size:2rem;
    height:4rem;
    width:100%;
    border-radius:3px;
    background-color:#cf6b83;
    margin:2px;
    border:none;
    padding:3px 8px 3px 8px;
    justify-self:center;
}
.payOptions{
    height:13rem;
    width:100%;
    border:none;
    justify-self:center;
    border-radius:5px;
    border:1px solid black;
}
.page{
    background-color:#bbc7a4;
    color:#766153;
    border-radius:10px;
    display:block;
}
